NEXT_PUBLIC_SUPABASE_URL=https://zwhndvbssjxkgyuqlgcx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3aG5kdmJzc2p4a2d5dXFsZ2N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4NTIyNTEsImV4cCI6MjA5ODQyODI1MX0._-Bs5rG2XaxfBZ0D1HnmuauQKzMtsd8dNRjMNsWuIhc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3aG5kdmJzc2p4a2d5dXFsZ2N4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjg1MjI1MSwiZXhwIjoyMDk4NDI4MjUxfQ.x-cIhnYE4_lgBvHpE1abmXLQ8I2bW4bkxXO2sVPuv2o
NEXT_PUBLIC_APP_URL=#
